@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background: url(images/pattern-curve.svg) no-repeat;
    background-position: bottom left;
    background-size: 400px;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    max-width: 550px;
}

.slider_header{
    padding: 30px;
    max-width: 260px;
    position: relative;
    background: url(images/pattern-bg.svg) no-repeat;
    background-size: 100%;
    background-position: top 10% right 55%;
}
.slider_header img{
    width: 100%;
    border-radius: 5px;
    display: block;
    margin: auto;
}



.btns{
    position: relative;
    width: 70px;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.btns > *{
    width: calc(100% / 2);
    border: none;
    padding: 2px 5px;
    background: transparent;
}
.btns img {
    width: 10px;
}

.slider_body{
    position: relative;
}

.slider_body .text_slider_boby{
    padding: 40px 0;
    background: url(images/pattern-quotes.svg) no-repeat;
    background-position: top 7% left 50%;
    background-size: 50px;
    text-align: center;
    
}
.slider_footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .77em;
}
.slider_footer span{
    color: rgba(0, 0, 0, 0.445);
}

@media screen and (min-width: 1100px) {
    .slider{
        max-width: 1100px;
        flex-direction: row-reverse;
        font-size: 32px;
        height: 90vh;
        padding: 0 4em;
    }
    .slider_header{
        padding: 70px 50px;
        min-width: 400px;
        background-size: 91%;
        background-position: top 32% right 25%;
        
    }
    .slider_header > img{
        width: 90%;
    }
    .btns{
        left: 25%;
        z-index: 999;
    }

    .slider_body{
        width: 75%;
        height: 90%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .slider_body .text_slider_boby{
        position: absolute;
        padding-top: 50px;
        background-size: 70px;
        background-position: top 5% left 15%;
        width: 130%;
        text-align: left;
    }
    .slider_footer{
        flex-direction: row;
        justify-content: left;
        font-size: .6em;

    }
    .slider_footer b{
        padding-right: 5px;
    }
}

.desactivo{
    position: absolute;
    transform: scale(0);
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }